/*|| SELECT COMPONENT||*/
//1- select arrow
//2- centered vertical
//3- ignore element click event
//4- inherited style
//5- override user agent appearance
.select {
  width: 100%;
  position: relative;
  &::after {
    $arrow-dimension: 0.5em;
    content: ''; //1
    display: inline-block;
    position: absolute;
    top: calc(50% - (#{$arrow-dimension} / 2)); //2
    right: 1em;
    height: $arrow-dimension;
    width: $arrow-dimension;
    border: 2px solid;
    border-color: transparent $color-accent $color-accent transparent;
    transform: rotate(45deg);
    pointer-events: none; //3
  }
  &__input {
    cursor: pointer;
    @extend %input-resets; //4
    @extend %remove-appearance; //5
  }
}
