/*|| TOGGLE COMPONENT||*/

//1- vertical alignment baseline' text-bottom
//2- remove outline
//3- override user agent appearance
//4- background only content-box. if isn't checked, then background transparent
//5- abstract transition
//6- if is checked, then background accent
.toggle {
  display: inline-block;
  vertical-align: text-bottom; //1
  &--inline {
    margin-right: $gutter / 2;
    margin-top: 0;
  }
  &__input {
    outline: none; //1
    border-radius: 2px;
    @extend %remove-appearance; //3
    height: 1em;
    width: 1em;
    background: content-box; //4
    padding: 0.2em;
    @include transition(background); //5
    display: block;
    cursor: pointer;
    &:checked {
      background-color: $color-accent; //6
    }
  }
}
